@import '~normalize.css';
@import '@scss-modules/global';
@import '@scss-modules/global-templates';
@import '@scss-modules/main/palette';

.wrapper {
  @extend %wrapper;
}

._container {
  @include _container(1370px, 10px);
}

body {
  &.lock {
    overflow: hidden;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 35px;
  z-index: 998;

  &__menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      list-style-type: none;
    }
  }
}

.main {
  position: relative;
  min-height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/main/content/background.png') center / cover no-repeat;
    z-index: 1;
  }

  &__container {
    height: 100vh;
    @include _container(100%, 10px);
  }

  &__body {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__character {
    position: relative;
    margin-bottom: 2%;
    z-index: 3;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transparent-dark-red;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    text-align: right;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

    > * {
      &.popup__close {
        display: inline-block;
      }
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.open &__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

.todo-popup {
  &__content {
    width: 42.9%;
    padding: 25px 25px 30px 25px;
    background-color: $alice-blue;
    border-radius: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: inline-block;
    max-width: 32.2%;
    margin: 0 auto 17px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    background: linear-gradient(266.66deg, $heliotrope 1.54%, $matisse 101.33%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__question {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Inder', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: $scampi;
  }

  &__list {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 318px;
    display: inline-block;
    margin-right: auto;
  }

  &__item {
    font-family: 'Inder', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: $heliotrope1;
    cursor: pointer;

    &::before {
      content: '+';
      font-family: 'Inder', sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      text-transform: uppercase;
      background: linear-gradient(85.64deg, $anakiwa 2.83%, $heliotrope1 76.72%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-right: 4px;
    }
  }

  &__button {
    margin: 0 auto;
    padding: 13px 38px;
    background: $heliotrope2;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: $alice-blue;
  }
}

.task-popup {
  &__content {
    margin-left: 0;
    margin-right: 0;
    border: none;
    width: 22.78%;
    border-radius: 20px;
    background-color: $medium-purple;
    padding: 16px 18px 12px;

    text-align: left;

    > * {
      &:first-child,
      &:last-child {
        text-align: center;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $white;
  }

  &__field {
    border: none;
    padding: 6px 11px;
    display: block;
    width: 100%;
    min-height: 67px;
    border-radius: 10px;
    background-color: $white;
    margin-bottom: 11px;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $matisse;
    overflow: auto;
    scrollbar-width: none;

    &:focus {
      outline: none;

      &::placeholder {
        visibility: hidden;
      }
    }

    &::placeholder {
      color: $matisse;
      font-size: 16px;
      line-height: 19px;
      color: $matisse;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 187px;

    > * {
      border: none;
      padding: 10px 30px 5px 26px;
      background-color: $alice-blue;
      border-radius: 10px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $matisse;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
